* {
  box-sizing: border-box;
}

:root {
  /*farver*/
  --cta-color: #7c4c5f;
  --text-color: #363636;
  --white-color: white;
  --hover-color: #eacbcb;
  /*typografier*/
  --font-heading: "Playfair Display", serif;
  --font-body: "inter", sans-serif;
  /*typografi størrelser*/
  --font-size-sections: 70px;
  --font-size-h1: 56px;
  --font-size-h2: 40px;
  --font-size-paragraph: 24px;
  --font-size-navbar: 20px;
  --font-size-smallparagraph: 18px;
  --font-size-button: 30px;
  /*typografi vægt*/
  --font-weight-semibold: 600;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
}

body {
  margin: 0;
  margin-left: 40px;
  margin-right: 40px;
  padding-top: 80px;
}

/* Navigationsbar styling */
.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  margin: 0;
  padding: 8px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: linear-gradient(to bottom, var(--havre-color), transparent);
  z-index: 1000;
}

.left-nav {
  display: flex;
  align-items: center;
}

.nav-icon {
  width: 48px;
  height: 38px;
}

.links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  margin-left: 20px;
}

.links li {
  margin-left: 10px;
}

.links a {
  color: black;
  text-decoration: none;
  padding: 8px 16px;
  font-family: "Abel";
}

.nav-hover:hover {
  background-color: var(--logo-pink-color);
  color: var(--text-color);
  border-radius: 8px;
}

.shopping-bag-icon {
  width: 36px;
  height: 36px;
  aspect-ratio: 1/1;
}

.hero-section {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 0 60px;
}

/* HERO-section */
/* overskrift */
.hero-content {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.hero-text {
  flex: 1;
  max-width: 50%;
  padding-right: 10px;
}

.hero-text h1 {
  margin-bottom: 60px;
  font-size: var(--font-size-sections);
  font-family: var(--font-heading);
}

.hero-text p {
  font-size: var(--font-size-paragraph);
  font-family: var(--font-body);
  margin-bottom: 60px;
  color: var(--text-color);
}

.lumina-one-icon {
  max-width: 170px;
  margin-bottom: -50px;
}

/* Hero-baggrund */
.hero-image-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 10px;
}

.hero-image {
  width: 110%;
  max-width: 1400px;
  height: auto;
  transform: scaleX(-1); /*flipper billedet*/
}

.cta {
  display: flex;
  gap: 48px;
}

.koebnu {
  padding: 12px 24px;
  background: var(--cta-color);
  color: var(--white-color);
  border: none;
  border-radius: 25px;
  font-size: var(--font-size-button);
  font-family: var(--font-body);
  font-weight: var(--font-weight-regular);
  cursor: pointer;
}

.tilfoej,
.laesmere {
  padding: 12px 24px;
  background: transparent;
  color: var(--text-color);
  border: 1px solid var(--cta-color);
  border-radius: 25px;
  font-size: var(--font-size-button);
  font-family: var(--font-body);
  font-weight: var(--font-weight-regular);
  cursor: pointer;
}
/* Gradiants */
.left-hero-gradiant,
.right-hero-gradiant,
.top-hero-gradiant {
  position: absolute;
  z-index: 2;
}

.left-hero-gradiant {
  background: linear-gradient(
    270deg,
    rgba(255, 255, 255, 0.02) 15.38%,
    #d7d7d7 51.92%,
    #fbf3f3 100%
  );
  width: 489px;
  height: 1024px;
  left: 0;
}

.right-hero-gradiant {
  background: linear-gradient(
    270deg,
    rgba(255, 255, 255, 0.02) 0%,
    #dbdbdb 58.65%,
    #fffafa 100%
  );
  width: 586px;
  height: 1024px;
  right: 0;
}

.top-hero-gradiant {
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.02) 0%,
    rgba(255, 255, 255, 0.91) 51.92%,
    rgba(255, 255, 255, 0.79) 100%
  );
  width: 100%;
  height: 472px;
  top: 0;
  z-index: 3;
}

/* Produkt*/
.produkt-section {
  height: 1024px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 40px;
  font-family: var(--font-body);
  color: var(--text-color);
  background: var(--white-color);
}

.produkt-inner {
  max-width: 1200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headline {
  font-size: var(--font-size-sections);
  font-family: var(--font-heading);
  font-weight: var(--font-weight-semibold);
  margin-bottom: 40px;
  color: var(--text-color);
}

.product-bg {
  width: 100%;
  height: 856px;
  background: #e7ebe3;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  gap: 0px;
  position: relative;
}

.speaker-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 0px;
}

.speaker-image {
  width: 70%;
  max-width: 800px;
}

.speaker-info {
  position: absolute;
  left: 40px;
  bottom: 40px;
  font-size: var(--font-size-smallparagraph);
}

.color-picker {
  margin: 0;
  display: inline-flex;
  gap: 20px;
  background: #fffbfb;
  padding: 14px 26px;
  border-radius: 999px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25); /* præcis box shadow fra figma, kan ses i dev mode */
  transform: translateY(-120px);
}

.color-circle {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) inset; /* præcis box shadow fra figma, kan ses i dev mode */
}

.green {
  background: #bcc8ae;
}
.purple {
  background: #a28ea8;
}
.white {
  background: #e0dfdb;
}
.rose {
  background: #f4c3b8;
}

.color-circle.active {
  outline: 3px solid black;
}

/* Funktioner */
.funktion-section {
  height: 472px;
  display: flex;
  align-items: center;
}

.funktion-container {
  display: flex;
  justify-content: center;
  gap: 200px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
}

.funktion-item {
  text-align: center;
  flex: 1;
  max-width: 300px;
}

.icon-container {
  position: relative;
  display: inline-block;
  margin-bottom: 30px;
}

.circle-bg {
  width: 80px;
  height: 80px;
}

.feature-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 30px;
  max-height: 30px;
  width: auto;
  height: auto;
}

.feature-title {
  font-weight: var(--font-weight-medium);
  font-family: var(--font-heading);
  font-size: var(--font-size-paragraph);
  margin-bottom: 15px;
  color: var(--text-color);
}

.feature-description {
  font-family: var(--font-body);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-smallparagraph);
  line-height: 1.5;
  color: var(--text-color);
  margin: 0;
}
p {
  white-space: pre-line;
  margin-top: 10px;
}

/* Design*/
.design-section {
  padding: 100px 0;
  max-height: 1024px;
}

.design-content {
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 80px;
  padding: 0 40px;
}

.design-image-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.room-image-container {
  position: relative;
}

.room-image {
  width: 545px;
  height: 830px;
  border-radius: 20px;
}

.design-text {
  flex: 1;
  max-width: 500px;
}

.design-headline {
  font-family: var(--font-heading);
  font-size: var(--font-size-sections);
  font-weight: var(--font-weight-semibold);
  color: var(--text-color);
  margin-bottom: 30px;
}

.design-description {
  font-family: var(--font-body);
  font-size: var(--font-size-paragraph);
  font-weight: var(--font-weight-regular);
  color: var(--text-color);
}


/* Footer stuff */
.footer {
  background-color: #fff9f3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px 50px;
  box-sizing: border-box;
  margin-top: auto; /* Skubber footeren ned til bunden */
}

#logo img {
  height: 100px;
  width: auto;
}

.footer-links {
  display: flex;
  gap: 30px;
}

.footer-links a {
  text-decoration: none;
  color: black;
}
