* {
  box-sizing: border-box;
}

:root {
  /*farver*/
  --cta-color: #7c4c5f;
  --text-color: #363636;
  --white-color: white;
  --hover-color: #eacbcb;
  /*typografier*/
  --font-heading: "Playfair Display", serif;
  --font-body: "inter", sans-serif;
  /*typografi størrelser*/
  --font-size-sections: 70px;
  --font-size-h1: 56px;
  --font-size-h2: 40px;
  --font-size-paragraph: 24px;
  --font-size-navbar: 20px;
  --font-size-smallparagraph: 18px;
  --font-size-button: 30px;
  /*typografi vægt*/
  --font-weight-semibold: 600;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
}

body {
  margin: 0;
  margin-left: 40px;
  margin-right: 40px;
  padding-top: 80px;
}

/* Navigationsbar styling */
.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  margin: 0;
  padding: 8px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: linear-gradient(to bottom, var(--havre-color), transparent);
  z-index: 1000;
}

.left-nav {
  display: flex;
  align-items: center;
}

.nav-icon {
  width: 48px;
  height: 38px;
}

.links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  margin-left: 20px;
}

.links li {
  margin-left: 10px;
}

.links a {
  color: black;
  text-decoration: none;
  padding: 8px 16px;
  font-family: "Abel";
}

.nav-hover:hover {
  background-color: var(--logo-pink-color);
  color: white;
  border-radius: 8px;
}

.shopping-bag-icon {
  width: 36px;
  height: 36px;
  aspect-ratio: 1/1;
}

.hero-section {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 0 60px;
}

/* HERO-section */
/* overskrift */
.hero-content {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.hero-text {
  flex: 1;
  max-width: 50%;
  padding-right: 40px;
}

.hero-text h1 {
  margin-bottom: 20px;
}

.hero-text p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 30px;
  color: #666;
}

.lumina-one-icon {
  max-width: 170px;
  margin-bottom: -50px;
}

/* Hero-baggrund */
.hero-image-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-image {
  max-width: 100%;
  height: auto;
}

.cta {
  display: flex;
  gap: 15px;
}

.koebnu {
  padding: 12px 24px;
  background: var(--cta-color);
  color: white;
  border: none;
  border-radius: 25px;
  font-size: 14px;
  font-family: Abel, sans-serif;
  cursor: pointer;
}

.tilfoej,
.laesmere {
  padding: 12px 24px;
  background: transparent;
  color: #333;
  border: 1px solid #ddd;
  border-radius: 25px;
  font-size: 14px;
  font-family: Abel, sans-serif;
  cursor: pointer;
}
/* Gradiants */
.left-hero-gradiant,
.right-hero-gradiant,
.top-hero-gradiant {
  position: absolute;
  z-index: 2;
}

.left-hero-gradiant {
  background: linear-gradient(
    270deg,
    rgba(255, 255, 255, 0.02) 15.38%,
    #d7d7d7 51.92%,
    #fbf3f3 100%
  );
  width: 489px;
  height: 1024px;
  left: 0;
}

.right-hero-gradiant {
  background: linear-gradient(
    270deg,
    rgba(255, 255, 255, 0.02) 0%,
    #dbdbdb 58.65%,
    #fffafa 100%
  );
  width: 586px;
  height: 1024px;
  right: 0;
}

.top-hero-gradiant {
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.02) 0%,
    rgba(255, 255, 255, 0.91) 51.92%,
    rgba(255, 255, 255, 0.79) 100%
  );
  width: 100%;
  height: 472px;
  top: 0;
  z-index: 3;
}

/* Produkt */
.produkt-container {
  margin-bottom: 100px;
  margin-top: 40px;
}
.headline {
  font-family: "Lato", sans-serif;
  font-size: 4rem;
  font-weight: 700;
  margin-top: 60px;
  margin-bottom: 20px;
}
.subtext {
  font-family: "abel", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 40px;
  max-width: 800px;
}
.farve-modeller {
  text-align: center;
  margin-top: 40px;
}
.farve-modeller img {
  max-width: 1300px;
  width: 100%;
  height: auto;
  border-radius: 12px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.farve-tekster {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  max-width: 1300px;
  margin: 1.5rem auto 0 auto;
  font-weight: 300;
  font-size: 1.3rem;
  font-family: "abel", sans-serif;
  padding: 0 1rem;
  box-sizing: border-box;
}
.farve-tekster span {
  flex: 1;
  text-align: center;
}

/* Funktioner */
.funktion-container {
  display: flex;
  gap: 20px;
  align-items: flex-start;
}

.left,
.right {
  flex: 1;
}

.left img,
.right img {
  width: 95%;
  display: block;
  margin-bottom: 40px;
}

.left {
  margin-left: 40px;
  margin-bottom: 0;
}

.right {
  margin-right: 40px;
  margin-bottom: 40px;
}
p {
  white-space: pre-line;
  margin-top: 10px;
}

/* Om Os */
.header-omos {
  background-color: #fffaf4;
  padding: 20px 0 0 0;
  text-align: center;
}

.header-omos h2 {
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 0;
  font-family: "Lato", Arial, sans-serif;
}

.subtext-omos {
  max-width: 500px;
  font-size: 1.1rem;
  line-height: 1.7;
  color: #222;
}

.image-bad {
  text-align: center;
  display: flex;
  width: 700px;
  height: 700px;
  justify-content: center;
  align-items: center;
}

.image-bad img {
  width: 700px;
  height: 700px;
  margin-right: 80px;
}

.omos-flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  padding: 40px;
}

/* Footer stuff */
.footer {
  background-color: #fff9f3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px 50px;
  box-sizing: border-box;
  margin-top: auto; /* Skubber footeren ned til bunden */
}

#logo img {
  height: 100px;
  width: auto;
}

.footer-links {
  display: flex;
  gap: 30px;
}

.footer-links a {
  text-decoration: none;
  color: black;
}
